COMPOSE_PROJECT_NAME=m-rent

# БД
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=
DB_ROOT_PASSWORD=

# Порты на хосте
WP_PORT=8080
PMA_PORT=8081
MAILHOG_UI_PORT=8025

# WordPress
WP_TABLE_PREFIX=wp_
